.gridItem {
    box-shadow: none !important;
}

.footer-bg {
    background-color: #032e63;
    padding: 12px 0px;
    /* border-radius: 40px 40px 0px 0px !important; */
}

.footerIcon {
    border: none;
    background-color: transparent !important;
    color: white !important;
    transition: 0.1s linear !important;
}

.footerIcon:hover.instagram-icon {
    color: #FF00FF !important;
}

.footerIcon:hover.facebook-icon {
    color: #1A77F2 !important;
}

.footerIcon:hover.linkedin-icon {
    color: #4169E1 !important;
}

.footerIcon:hover.youtube-icon {
    color: #FF0000 !important;
}

.footer-title {
    font-family: 'Poppins', sans-serif !important;
    color: white !important;
    font-weight: bolder !important;
}

.footer-btn>.footer-title {
    font-family: 'Poppins', sans-serif !important;
    color: #032e63 !important;
    font-weight: bolder !important;
}

.footer-btn {
    margin: 12px !important;
    padding: 10px 26px !important;
    color: #032e63 !important;
    border: 1px transparent !important;
    border-radius: 20px !important;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.20) !important;
    background-color: white !important;
    background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #FFCF06 50%, #FFFC06 100%) !important;
    background-size: 201% !important;
    transition: background-position .1s cubic-bezier(.47, .1, 1, .63), color .2s linear !important;
    /* transition-delay: 0.0s, 0.15s !important; */
}

.footer-btn:hover {
    border: 1px solid #FFCF06 !important;
    color: #032e63 !important;
    background-position: -99.5% 100% !important;
}

.footer-btn:hover>.footer-title {
    color: #032e63 !important;
}