.pageHeader {
    width: 100%;
    height: 60vh;
    background-color: #032e63;
}

.page-title {
    color: white !important;
    font-family: 'Poppins', sans-serif !important;
}

.heading {
    font-weight: 900 !important;
}

.card-title {
    color: #032e63 !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 900 !important;
}

.card-icon {
    color: #032e63 !important;
    width: 70% !important;
    height: 80% !important;
}

.team-card {
    border-radius: 20px !important;
}

.team-image {
    border: 1px solid transparent;
    border-radius: 20px;
    width: 60%;
    height: auto;
    margin: 20px auto;
}