:root {
  font-family: 'Poppins', sans-serif !important;
  line-height: 1.5;
  font-weight: 400;
  color: #032E63;
  background-color: #E5E8E8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}