.ant-menu-item-selected {
    color: #D68910 !important;
}

/* User menu css */
.ant-dropdown-menu {
    background-color: #001529 !important;
}

.ant-dropdown-menu-item {
    color: rgba(255, 255, 255, 0.65) !important;
}

.ant-dropdown-menu-item:hover {
    color: #FFFFFF !important;
}

.ant-dropdown-menu-item.ant-dropdown-menu-item-selected {
    color: #D68910 !important;
}

.ant-dropdown-menu-item-selected {
    background-color: #001529 !important;
}

/* user button css */
.ant-btn-circle {
    background-color: transparent !important;
    color: rgba(255, 255, 255, 0.65) !important;
}

.user-button {
    border: none;
    background-color: rgba(255, 255, 255, 0.25) !important;    
}

.user-button:hover,.ant-dropdown-open {
    background-color: rgba(214, 137, 16, 0.25) !important; 
    color: #D68910 !important;
}