.navMenuLogoBtn {
  margin-left: 10px !important;
  border-radius: 50% !important;
  padding: 16px !important;
}

.navBrandLogo {
  margin-right: 10px !important;
}

.customnavbar {
  padding: 20px 0px !important;
  z-index: 100 !important;
}

.navMenuLogoBtn:hover {
  background-color: #6D92B5 !important;
  transition: 0.2s ease-in-out;
}

.menu-button-small {
  color: white !important;
  padding: 8px !important;
  border-radius: 20px !important;
}

.menu-button-small:hover {
  color: #ffcf08 !important;
  background-color: #032E63 !important;
  transition: linear 0.2s;
}

.menu-toggle-button-small {
  color: #032E63 !important;
  padding: 8px !important;
  border-radius: 20px !important;
}

.menu-toggle-button-small:hover {
  color: #ffcf08 !important;
  background-color: #032E63 !important;
  transition: linear 0.2s;
}

.menu-button-small-active {
  color: #ffcf08 !important;
  background-color: #032E63 !important;
  padding: 8px !important;
  border-radius: 20px !important;
}

.menu-button {
  color: white !important;
  padding: 8px 16px !important;
  border-radius: 20px !important;
}

.menu-button:hover {
  color: #ffcf08 !important;
  background-color: #032E63 !important;
  transition: linear 0.2s;
}

.menu-toggle-button {
  color: #032E63 !important;
  padding: 8px 16px !important;
  border-radius: 20px !important;
}

.menu-toggle-button:hover {
  color: #ffcf08 !important;
  background-color: #032E63 !important;
  transition: linear 0.2s;
}

.menu-button-active {
  color: #ffcf08 !important;
  background-color: #032E63 !important;
  padding: 8px 16px !important;
  border-radius: 20px !important;
}