.navMenuLogoBtn {
  margin-left: 10px !important;
  border-radius: 50% !important;
  padding: 16px !important;
}

.navBrandLogo {
  margin-right: 10px !important;
}

.customnavbar {
  padding: 20px 0px !important;
  z-index: 100 !important;
}

.navMenuLogoBtn:hover {
  background-color: #6D92B5 !important;
  transition: 0.2s ease-in-out;
}