.social-media-card {
    border-radius: 20px !important;
    font-family: 'Poppins', sans-serif !important;
    box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.20) !important;
    padding-bottom: 30px;
    margin: 20px auto 40px auto;
    /* color: #032e63 !important; */
    /* background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%); */
    color: white !important;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}

.social-image {
    margin: 0px !important;
}

.social-content {
    margin: 0px 10px !important;
}

.card-bg-title {
    /* color: #032e63 !important; */
    color: white !important;
    font-weight: 900 !important;
}

.instagram-card-content {
    text-decoration: none !important;
    /* color: #032e63 !important; */
    color: white !important;
}