.social-media-card {
    border-radius: 20px !important;
    font-family: 'Poppins', sans-serif !important;
    color: #032e63 !important;
    box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.20) !important;
    padding-bottom: 30px;
    margin: 20px auto 40px auto;
}

.social-image {
    margin: 0px !important;
}

.social-content {
    margin: 0px 10px !important;
}

.card-bg-title {
    color: #032e63 !important;
    font-weight: 900 !important;
}

.linkedin-card-content {
    text-decoration: none !important;
    color: #032e63 !important;
}