.main-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.main-icon-grid {
    margin-top: 30vh;
}

.main-title {
    font-family: 'Poppins', sans-serif !important;
    font-style: italic;
    font-weight: 900 !important;
}

.intro-title, .intro-description {
    font-family: 'Poppins', sans-serif !important;
}

.intro-title {
    margin: 20px 7px !important;
}

.title1 {
    font-family: 'Poppins', sans-serif !important;
    color: #032e63 !important;
    font-weight: bolder !important;
}

.card-bg-time-title {
    font-family: 'Poppins', sans-serif !important;
    color: white !important;
    font-weight: 900 !important;
}

.title2 {
    color: #FFCF06 !important;
    font-weight: bolder !important;
}

.intro-description {
    margin: 0px auto 10px auto !important;
}

.launch-btn {
    margin: 12px !important;
    padding: 12px 26px !important;
    color: white !important;
    border-color: white !important;
    border-radius: 30px !important;
    background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #FFCF06 50%, #FFFC06 100%) !important;
    background-size: 201% !important;
    transition: background-position .1s cubic-bezier(.47, .1, 1, .63),color .2s linear !important;
    /* transition-delay: 0.0s, 0.15s !important; */
}

.launch-btn:hover {
    color: #032e63 !important;
    border-color: transparent !important;
    background-position: -99.5% 100% !important;
}

.page-btn {
    margin: 12px !important;
    padding: 12px 26px !important;
    color: #032e63 !important;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.20) !important;
    height: fit-content !important;
    border-color: transparent !important;
    border-radius: 30px !important;
    background-image: linear-gradient(90deg, white 0%, white 50%, #FFCF06 50%, #FFFC06 100%) !important;
    background-size: 201% !important;
    transition: background-position .1s cubic-bezier(.47, .1, 1, .63),color .1s linear !important;
    /* transition-delay: 0.0s, 0.15s !important; */
}

.page-btn:hover {
    color: #032e63 !important;
    border-color: transparent !important;
    background-position: -99.1% 100% !important;
}

.header-title {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700;
}
.launch-btn:hover > .header-title {
    color: #032e63 !important;
}

.sponsers-content {
    margin: 0px auto 15px auto;
}

.sponsers-card {
    box-shadow: none;
    border-radius: 20px !important;
    box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.20) !important;
}

.sponsers-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rocket-btn {
    margin: 20px auto 0px auto !important;
    padding: 12px 26px !important;
    color: white !important;
    border-color: transparent !important;
    border-radius: 30px !important;
    transition: all .1s cubic-bezier(.47, .1, 1, .63),color .2s linear !important;
}

.rocket-btn:hover {
    color: white !important;
    border-color: white !important;
}

.core-team-content {
    padding: 10px !important;
    box-shadow: none;
}

.core-team-bg {
    width: 92vw;
    padding: 40px 0px;
    background: #032e63 !important;
    margin: 0px auto;
    box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.20) !important;
    border-radius: 20px !important;
}

.core-team-card {
    list-style-type: none;
    border-radius: 10px !important;
    box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.20) !important;
}

.core-team-card-content {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600 !important;
}

.core-team-card:hover {
    background: #032e63;
    color: #FFCF06;
    transition: ease-in 0.2s;
}

.social-media-content {
    width: 96%;
    margin: 0px auto;
}